# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local outputs & logs
raw_logs/
backups/
nmap_results.xml
failed_hosts.json
asset_inventory.csv
L2_network_diagrams.md
L3_network_diagrams.md
network_analysis_report.md
oui.txt

# OS specific files
.DS_Store
.idea/
.vscode/
venv/
.venv/
